body {
    /*background-color: #ffd9d9;*/
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#000;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper {
    margin:0 auto;
    padding-bottom:25px;
    background-color: #ffd9d9;
    width:504px;
    border:3px solid #000; }
  

  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:3px solid #000;
    overflow:auto; }
  
#usermsg {
    /*font-size: 6px*/
    font-weight: bolder;
    width:395px;
    border:3px solid #000; }
  
#submitmsg { 
    width: 60px;
 border:3px solid #000;

}
#submitmsg:hover{
    text-decoration:underline;
}
  

  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.username { text-align: left;
 margin-left: -400px;
  }
  
.logout { 
   text-align: right; 
     margin-left: 3px;
        }

.max{ 
   text-align: right;
font-weight: bolder;
margin-left: 400px;
margin-right: 5px;
}


.min{
 text-align: right;
margin-left: 3px;
font-weight: bolder;
margin-right: 5px;}

  
